<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="#">WilderEvent</a>
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Activité/évenement
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" href="#">Toutes les activités/évenements</a></li>
                            <li><a class="dropdown-item" href="#">Les dernières</a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>
                    <li class="nav-item mt-3">
                        <a class="nav-link" href="#">Proposer une activité/évenement</a>
                    </li>
                    <li class="nav-item mt-3">
                        <a class="nav-link" href="#">Le réseau WilderEvent</a>
                    </li>
                    <li class="nav-item mt-3">
                        <a class="nav-link" href="#">Connexion/Inscription</a>
                    </li>
                </ul>
                <form class="d-flex mt-3">
                    <input class="form-control me-2 shadow-none"
                           type="search"
                           placeholder="Rechercher une activité/évenement"
                           aria-label="Search">
                    <button class="btn border-dark shadow-none" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>